In [22]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import sys
sys.path.insert(1,'../Level4_UMDOTS_CampusTrafficCount')
import seaborn as sns
from collections import Counter

In [46]:
myData = pd.read_excel('MessyWeatherData.xlsx')
myData

       AWS  WBAN YR--MODAHRMN DIR SPD GUS CLG SKC L M H  VSB WW WW WW W TEMP DEWP    SLP   ALT    STP MAX MIN PCP01 PCP06 PCP24 PCPXX SD
0    722280 13876 200301010053 140  11 ***  49 OVC ...
1    722280 13876 200301010153 140  13 ***  25 OVC ...
2    722280 13876 200301010253 170  14  21  14 OVC ...
3    722280 13876 200301010316 160   9  16  79 BKN ...
4    722280 13876 200301010353 150   9 *** 108 BKN ...
..                                                 ...
879  722280 13876 200301311953 220   9 *** 722 SCT ...
880  722280 13876 200301312053 250  14 *** 722 SCT ...
881  722280 13876 200301312153 260  12 *** 722 *** ...
882  722280 13876 200301312253 280  16 ***  42 OVC ...
883  722280 13876 200301312353 270  12 ***  34 OVC ...

[884 rows x 1 columns]

In [47]:
col=myData.columns.ravel()

In [48]:
myData=myData.iloc[:,-1].values

In [50]:
myData[0]

'722280 13876 200301010053 140  11 ***  49 OVC * * * 10.1 00 ** ** *   59   54 1003.8 29.65 ****** *** *** ***** ***** ***** ***** ** '

In [67]:
AWS=[]
WBAN=[]
YR_MODAHRMN=[]
DIR=[]
for i in range(0,len(myData)):
    AWS.append(myData[i][0:6])
    WBAN.append(myData[i][7:12])
    YR_MODAHRMN.append(myData[0][13:25])
    DIR.append(myData[0][26:29])
    SPD.append(myData[0][31:33])
    GUS.append(myData[0][34:37])
    CLG.append(myData[0][38:41])
    SKC.append(myData[4][42:45])
    LMH.append(myData[4][46:51])

'* * *'