In [166]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import sys
sys.path.insert(1,'../Level4_UMDOTS_CampusTrafficCount')
import seaborn as sns
from collections import Counter

In [167]:
# Importing the dataset
myData = pd.read_csv('Data_Level4_UMDOTS_CampusTrafficCount.csv')
myData

,time,pedestrians,bicyclists,cars,buses,trucks,location
0,2019-10-28T00:00:00-04:00,0,0,0,0,0,Campus_Dr_&_Presidential_Ave
1,2019-10-28T00:15:00-04:00,0,0,0,0,0,Campus_Dr_&_Presidential_Ave
2,2019-10-28T00:30:00-04:00,0,0,0,0,0,Campus_Dr_&_Presidential_Ave
3,2019-10-28T00:45:00-04:00,0,0,0,0,0,Campus_Dr_&_Presidential_Ave
4,2019-10-28T01:00:00-04:00,0,0,0,0,0,Campus_Dr_&_Presidential_Ave
...,...,...,...,...,...,...,...
13475,2019-11-10T23:45:00-04:00,0,0,2,0,0,University_Blvd_&_Paint_Branch_Dr
13476,2019-11-11T00:00:00-04:00,0,0,0,0,0,University_Blvd_&_Paint_Branch_Dr
13477,2019-11-11T00:15:00-04:00,0,1,3,0,0,University_Blvd_&_Paint_Branch_Dr
13478,2019-11-11T00:30:00-04:00,0,1,2,0,0,University_Blvd_&_Paint_Branch_Dr
13479,2019-11-11T00:45:00-04:00,0,0,3,0,0,University_Blvd_&_Paint_Branch_Dr

In [168]:
location=myData.iloc[:,-1].values
cnt = Counter()
for word in location:
    cnt[word] += 1
cnt

Counter({'Campus_Dr_&_Presidential_Ave': 1348,
         'Campus_Dr_At_Paint_Branch_Dr': 1348,
         'Paint_Branch_Dr_At_Campus_Dr': 1348,
         'Regents_Dr_&_Stadium_Dr_1': 1348,
         'Regents_Dr_&_Stadium_Dr_2': 1348,
         'Regents_Dr_&_Stadium_Dr_3': 1348,
         'South_Gate_Northern_View': 1348,
         'South_Gate_South_View': 1348,
         'Stadium_Dr_East_Of_Regents_Dr': 1348,
         'University_Blvd_&_Paint_Branch_Dr': 1348})

In [169]:
sensor=[]
for i in range(0,10):
    sensor.append(myData.iloc[1348*i:1348*(i+1),:].values)
    
sensor=np.array(sensor)
sensor.shape

(10, 1348, 7)

In [170]:
sensor1=sensor[0]
sensor2=sensor[1]
sensor3=sensor[2]
sensor4=sensor[3]
sensor5=sensor[4]
sensor6=sensor[5]
sensor7=sensor[6]
sensor8=sensor[7]
sensor9=sensor[8]
sensor10=sensor[9]

In [179]:
sensor1.shape

(1348, 7)

In [180]:
sensor1[2][0]

'2019-10-28T00:30:00-04:00'

In [223]:
time=[]
for i in range(0,sensor1.shape[0]):
    time.append(sensor1[i][0][11:16])

In [174]:
date=[]
for i in range(0,sensor1.shape[0]):
    date.append(sensor1[i][0][0:10])

In [248]:
time=time[0:96]

In [274]:
pedestrian1=pedestrian[0]
len(pedestrian1)

1348

In [275]:
pedestrian1=pedestrian[0]
temp = [sum(pedestrian1[i:i+4]) for i in range(0, len(pedestrian1),4)]
len(temp)

337